<!DOCTYPE html>
<html lang="en">
               <!-- Header partials -->
<head>
<%- include('./partials/header.ejs') %> 
<link rel="stylesheet" href="/public/new-style.css">
</head>
<body>

    <!------------ create some forms for the user to fill out for the pokedex------------->
    <form action="/pokemon" method="POST"> <!-------- made changes to my form action-->
        Name:<br> <input type="text" name="name"><br>
        ID: <br> <input type="number" name="id"><br>
        Type:<br> <input type="text" name="type">
        Image:<br> <input type="img" name="img"><br>
        
        <input type="text" name="type"><br>
        <!---------------- Description of podedex ---------------->
         HP:<br> <input type="number" name="hp"><br>
        Defense:<br> <input type="number" name="defense"><br>
        SPDefense:<br> <input type="number" name="spdefense"><br>
        Attack:<br> <input type="number" name="attack"><br>
        SPAttack:<br> <input type="number" name="spattack"><br>
        Speed:<br> <input type="number" name="speed"><br>
        <a>
       <input type="submit" a href="Create Pokemon">
       <a href="/pokemon/"> Go Back Home</a>
    </a>
    </form>
</body>
<nav>
    <a href="/pokemon/"> Go Back Home</a>
</nav>
</html>